body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }

  .empty3{
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .red3{
    width: 80px;
    background-color:red;
  }

  .blue3{
    width: 80px;
    background-color:blue;
  }
  
  .red4{
    flex: 1;
    background-color: red;
  }

  .blue4{
    width: 80px;
    background-color: blue;
  }

  .empty5{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .red5{
    width: 40px;
    height: 40px;
    background-color: red;
  }

  .empty6{
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .blue6{
    width: 80px;
    background-color: blue;
  }

  .red7{
    width: 80px;
    background-color: red;
  }

  .empty7{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .blue7{
    height: 20px;
    background-color: blue;
  }

  .empty8{
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .yellow8{
    background-color: yellow;
    width: 80px;
  }

  .empty9{
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 40px;
  }

  .yellow9{
    background-color: yellow;
    flex: 1;
  }
  /* TODO: Add CSS for the rest of your solution below */
  